<!DOCTYPE html>
<html>
<head>
  <title>pFp</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Uncial+Antiqua&display=swap" rel="stylesheet"> 

</head>
<body>

<main class="card">
  <div class="container">
    <h1 class="title center">pFp</h1>
    <p class="subtitle center">Python, Flask, PostgresQL</p>

    <div class="links center">
      <a class="button" href="http://pga.lvh.me">PgAdmin</a>
    </div>

    <p>Put your own Flask app in the <code>'webapp'</code> folder for your site
    to show up here.</p>

    <p>Connect to PostgreSQL with the following credentials:</p>
    <pre>  
      host: postgres
      database: dbase
      username: dbuser
      password: dbpass
    </pre>

    <p>More info: <a
      href="https://github.com/ammonshepherd/pfp">https://github.com/ammonshepherd/pfp</a></p>
  </div>

</main>

</body>
</html> 
